<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
	<head>
		<!-- General meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1">

		{% if page.indexing == false %}
			<meta name="robots" content="noindex">
		{% endif %}

		{% if page.collectionpage %}
			{% seo title=false %}

			{% assign collectiondata = site.collections | where: "label", page.collectionpage | first %}
			<title>{{ collectiondata.title }} - {{ site.title }}</title>
			<meta property="og:title" content="{{ collectiondata.title }}">
			<meta name="description" content="{{ collectiondata.description }}">
			<meta property="og:description" content="{{ collectiondata.description }}">
		{% else %}
			{% seo %}
		{% endif %}

    <link rel="stylesheet" href="{{ "/assets/styles.css" | relative_url }}">

		{% if site.avatarurl %}{% include site-favicons.html %}{% endif %}
	</head>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
	<body class="layout-{{ page.layout }}{% if page.title %}  {{ page.title | slugify }}{% endif %}">
		{% include site-icons.svg %}
		{{ content }}

		
		<!-- Default Statcounter code for Personal Website https://weihaocao.com -->
	<script type="text/javascript">
	var sc_project=11954589; 
	var sc_invisible=1; 
	var sc_security="1232683f"; 
	var sc_https=1; 
	</script>
	<script type="text/javascript"
	src="https://www.statcounter.com/counter/counter.js" async></script>
	<noscript><div class="statcounter"><a title="Web Analytics Made Easy -
	StatCounter" href="https://statcounter.com/" target="_blank"><img
	class="statcounter" src="https://c.statcounter.com/11954589/0/1232683f/1/"
	alt="Web Analytics Made Easy - StatCounter"></a></div></noscript>
	<!-- End of Statcounter Code -->
	</body>
</html>
